{% extends 'layout/base.html' %} {% block content %} 
<h1>About</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio cum nisi quasi, est soluta quas dolorem facilis quis. Pariatur rem a dignissimos velit odio neque deserunt quisquam, earum tempore natus id eius fugiat voluptatum officia aperiam facilis ex voluptatem fugit nihil numquam? Molestiae omnis fugit ipsum, vel quibusdam quaerat veritatis. Eveniet placeat tempore quia tempora dicta quas dolorum possimus obcaecati saepe et doloremque velit cupiditate praesentium optio officia, delectus nesciunt perferendis aliquid hic nisi voluptatum quis ad inventore quod. Soluta sit quas eos dolore totam ipsum. Sed nesciunt adipisci nihil quam, incidunt voluptate qui. Distinctio consequatur minus quaerat nesciunt rem?</p>

<h2>Website created by {{username}}</h2>
{% endblock %}

